/** Dover Pottery Studio Theme Variables */

/** --- Color Variables --- */
:root {
  --color1: #d6af5c; /* Gold */
  --color2: #d7cdac; /* Light tan */
  --color3: #4f2829; /* Dark red/brown */
  --color4: #325260; /* Dark blue */
  --color5: #7f8b71; /* Sage green */
  --color6: #f8f0c6; /* Cream */
}
