{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}

        {{ $latestPost := index (first 1 (where site.RegularPages "Type" "in" site.Params.mainSections)) 0 }}
        {{ if $latestPost }}
          <div class="well">
            <p>
              <strong><a href="{{ $latestPost.Permalink }}">{{ $latestPost.Title }}</a></strong> 
              <span class="text-muted">- {{ $latestPost.Date.Format "January 2, 2006" }}</span>
            </p>
            <p>{{ $latestPost.Summary }}</p>
            <a href="/posts/" class="btn btn-primary">View All News →</a>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
