<!-- layouts/shortcodes/pagecard.html -->
{{ $title := .Get "title" }}
{{ $description := .Get "description" }}
{{ $image := .Get "image" }}
{{ $url := .Get "url" }}
{{ with .Get "page" }}
  {{ $page := $.Site.GetPage (printf "/%s" .) }}
  {{ $title = $page.Title }}
  {{ $description = $page.Params.description }}
  {{ $image = $page.Params.image }}
  {{ $url = $page.RelPermalink }}
{{ end }}
{{ $external := strings.HasPrefix $url "http" }}
<a class="card" href="{{ $url }}"{{ if $external }} target="_blank" rel="noopener noreferrer"{{ end }}>
  <img class="card-img-top" src="{{ $image }}" alt="{{ $title }}">
  <div class="card-body">
    <h5 class="card-title">{{ $title }}</h5>
    <p class="card-text">{{ $description }}</p>
  </div>
</a>